@font-face {
    font-family: silk ;
    src: url( /fonts/slkscr.ttf ) format("truetype");
}

h1.timeline {
    font-size:18px;
    color:#666;
    font-family:Arial;
    margin-left:15px;
    margin-bottom:5px;
    padding-bottom:0px;
}

.timeline-dialog {
    background:#666;
}

.timeline-dialog .ui-dialog-titlebar {
    background:none;
    border:none;
    color:#fff;
    font-size:8px;
}

    .timeline .options {
        float:left;
    }

    .timeline,.timeline select {
        font-family:silk;
        font-size:8px;
        color:#999;
        height:15px;
    }

    .timeline .prev,.timeline .next {
        background:url(/images/timeline/arrow-left.gif) no-repeat 0px 10px;
        width:17px;
        height:25px;
        cursor:pointer;
        float:left;
    }

        .timeline .next {
            background:url(/images/timeline/arrow-right.gif) no-repeat 0px 10px;
        }

.timeline {
    margin-bottom:15px;
}

.milestone {
    text-indent:-1000px;
    background:url('/images/timeline/milestone.gif') no-repeat;
    width:15px;
    height:15px;
    cursor:pointer;
    position:relative;
    top:-22px;
    left:20px;
}

    .timeline .progressbar {
        position:relative;
        background:#eee;
        height:10px;
        top:20px;
    }

    .timeline .tick {
        width:50px;
        border-right:1px solid #fff;
        border-left:1px solid #eee;
        float:left;
        height:40px;
        margin:0px;
        padding:0px;
        cursor:pointer;
        color:#eee;
        background:url(/images/timeline/progressbar.gif) repeat-x 0px 8px;
    }

    .timeline .tick:hover,.timeline .tick:last-child:hover {
        border-left:1px solid #666;
        border-right:1px solid #666;
        color:#666;
        background:#eee;
        background:url(/images/timeline/progressbar-ccc.gif) repeat-x 0px 8px;
    }

    .timeline .tick:last-child {
        border-right:1px solid #eee;
    }

        .timeline .tick .label {
            font-size:8px;
            /* color:#ddd; */
            position:relative;
            left:20px;
            top:40px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            font-family:silk;
            text-align:right;
        }

        .timeline .tick .label:hover {
            /* color:#666; */
        }